<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/materialize.min.css" rel="stylesheet" type="text/css" media="screen,projection"/>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">AFM</a>
      </div>
    </nav>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <button id="btn-1-1" class="btn-full btn-large waves-effect waves-light orange">1-1</button>
          </div>
          <div class="col s12 m4">
            <button id="btn-1-2" class="btn-full btn-large waves-effect waves-light orange">1-2</button>
          </div>
          <div class="col s12 m4">
            <button id="btn-1-3" class="btn-full btn-large waves-effect waves-light orange">1-3</button>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <button id="btn-2-1" class="btn-full btn-large waves-effect waves-light orange">2-1</button>
          </div>
          <div class="col s12 m4">
            <button id="btn-2-2" class="btn-full btn-large waves-effect waves-light orange">2-2</button>
          </div>
          <div class="col s12 m4">
            <button id="btn-2-3" class="btn-full btn-large waves-effect waves-light orange">2-3</button>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12">
            <button id="btn-3" class="btn-full btn-large waves-effect waves-light orange">3</button>
          </div>
        </div>
      </div>
    </div>

    <script src="static/js/materialize.min.js" type="text/javascript"></script>
    <script src="static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="static/js/autofood.js" type="text/javascript"></script>
  </body>
</html>
